.container.video {
  padding: var(--f9) var(--f4);
}

.container.video section.intro {
  position: fixed;
  background-image: asset_url('bg-blur01.jpg');
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

.videos {
  padding: 0;
  margin: 0;
}

.vid-container {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: var(--f7);
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 8px 6px 0px black;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-overlay:not(.hidden) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}