<header class="site-header">
  <div class="header-container">
    <marquee SCROLLDELAY="50" HSPACE="20">
      <a href="/">
        <div class="marquee">
          <span class="logo">
            Asoh Black!
          </span>
          <span class="announcement">
            FOOLIE OUT NOW!
          </span>
        </div>
      </a>
    </marquee>
    <div class="menu-controls">
      <button class="menu-button open">
        {% asset menu.svg alt="Open menu" %}
      </button>
      <button class="menu-button close hidden">
        {% asset close.svg alt="Close menu" %}
      </button>
    </div>
  </div>
</header>
