<div class="intro">
    <main>
        {% include get-updates.html %}
        <img class="intro-album" src="/uploads/music03.jpg">
        <ul class="intro-buttons">
            <li>
                <a target="_blank" href="http://ffm.to/blackocean" class="dark">Listen to <i>Black Ocean: Season
                        One</i></a>
            </li>
            <li>
                <a class="light ttu enter">Enter →</a>
            </li>
        </ul>
        <section class="subscribe">
            {% include get-updates-link.html %}
        </section>
    </main>
    <div class="modal-container">
        {% include get-updates.html %}
    </div>
</div>