<div class="menu hidden">
  <ul class="music-icons">
    <li>{% asset spotify.svg %}</li>
    <li>{% asset apple-music.svg %}</li>
    <li>{% asset tidal.svg %}</li>
    <li>{% asset soundcloud.svg %}</li>
  </ul>
  <ul class="site-nav">
    <li><button>Music</button></li>
    <li><button>Asoh's Corner</button></li>
    <li><button>Information</button></li>
  </ul>
  <ul class="social-icons">
    <li>{% asset fb.svg %}</li>
    <li>{% asset insta.svg %}</li>
    <li>{% asset twitter.svg %}</li>
    <li>{% asset youtube.svg %}</li>
  </ul>
  <button>Get updates</button>
</div>
