<div class="menu hidden">
  <ul class="music-icons">
    <li><a href="https://open.spotify.com/artist/50KItow1zdTmMTAVX3FKIg">{% asset spotify.svg %}</a></li>
    <li><a href="https://music.apple.com/us/artist/asoh-black/1193707873">{% asset apple-music.svg %}</a></li>
    <li><a href="https://tidal.com/browse/artist/8421045">{% asset tidal.svg %}</a></li>
    <li><a href="https://soundcloud.com/asohblack">{% asset soundcloud.svg %}</a></li>
  </ul>
  <ul class="site-nav">
    <li><a href="/music">Music</a></li>
    <li><a href="/corner">Asoh's Corner</a></li>
    <li><a href="/info">Information</a></li>
  </ul>
  <ul class="social-icons">
    <li><a href="https://www.facebook.com/asohblack">{% asset fb.svg %}</a></li>
    <li><a href="https://www.instagram.com/asohblack">{% asset insta.svg %}</a></li>
    <li><a href="https://twitter.com/asohblack">{% asset twitter.svg %}</a></li>
    <li><a href="https://www.youtube.com/channel/UCysyFq-CQ7bVUcb1lAI0fFw">{% asset youtube.svg %}</a></li>
  </ul>
  {% include get-updates.html %}
</div>
