<div class="menu hidden">
  <ul class="music-icons">
    <li>
      <a href="https://open.spotify.com/artist/50KItow1zdTmMTAVX3FKIg"
        >{% asset icon-spotify.svg alt="Asoh Black spotify" %}</a
      >
    </li>
    <li>
      <a href="https://music.apple.com/us/artist/asoh-black/1193707873"
        >{% asset icon-apple.svg alt="Asoh Black apple music" %}</a
      >
    </li>
    <li>
      <a href="https://tidal.com/browse/artist/8421045"
        >{% asset icon-tidal.svg alt="Asoh Black tidal" %}</a
      >
    </li>
    <li>
      <a href="https://soundcloud.com/asohblack">{% asset icon-soundcloud.svg alt="Asoh Black soundcloud" %}</a>
    </li>
  </ul>
  <ul class="site-nav">
    <li><a href="/music">Music</a></li>
    <li><a href="/videos">Videos</a></li>
    <li><a href="/info">Information</a></li>
  </ul>
  {% include get-updates.html %}
  <ul class="social-icons">
    <li><a href="https://www.facebook.com/asohblack">{% asset icon-facebook.svg alt="Asoh Black facebook" %}</a></li>
    <li>
      <a href="https://www.instagram.com/asohblack">{% asset icon-instagram.svg alt="Asoh Black instagram" %}</a>
    </li>
    <li><a href="https://twitter.com/asohblack">{% asset icon-twitter.svg alt="Asoh Black twitter" %}</a></li>
    <li>
      <a href="https://www.youtube.com/channel/UCysyFq-CQ7bVUcb1lAI0fFw"
        >{% asset icon-youtube.svg alt="Asoh Black youtube" %}</a
      >
    </li>
  </ul>
  <section class="bottom">
    {% include get-updates-link.html %}
  </section>
</div>
