.email-modal {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 8px 6px 0px black;
  border-radius: 3px;
  padding: var(--f);
  min-height: 20vh;

  form {
    text-align: center;
    display: flex;
  }

  form, #mc_embed_signup_scroll {
    width: 100%;
  }

  input {
    border-bottom: 1px solid rgb(48, 46, 46);
    font-size: 1em;
  }

  input:not([type='submit']) {
    width: 100%;
  }

  input[type='submit'] {
    background: black;
    padding: var(--f) var(--f2);
    border-radius: 999px;
    color: white;
    margin: var(--f2);
  }

  .close {
    float: right;
    padding: var(--f);
  }

  .mc-field-group {
    display: block;
    padding: var(--f2);
  }
}
