.email-modal {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5em;
  max-width: 80%;

  form {
    text-align: center;
  }

  input {
    border-bottom: 1px solid black;
    margin: 0.5em 0;
    font-size: 1em;
  }

  input[type='submit'] {
    background: black;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
  }

  .close {
    float: right;
    padding: 5px;
  }

  .mc-field-group {
    display: inline-block;
  }
}
