@font-face {
  font-family: 'Chicago';
  src: url(font-path('PixChicago.eot'));
  src: url(font-path('PixChicago.eot#iefix')) format('embedded-opentype'),
    url(font-path('PixChicago.woff2')) format('woff2'),
    url(font-path('PixChicago.woff')) format('woff'),
    url(font-path('PixChicago.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper';
  src: url(font-path('CooperBlack.eot'));
  src: url(font-path('CooperBlack.eot?#iefix')) format('embedded-opentype'),
      url(font-path('CooperBlack.woff2')) format('woff2'),
      url(font-path('CooperBlack.woff')) format('woff'),
      url(font-path('CooperBlack.ttf')) format('truetype'),
      url(font-path('CooperBlack.svg#CooperBlack')) format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font-path('HelveticaNeue.eot'));
  src: url(font-path('HelveticaNeue.eot?#iefix')) format('embedded-opentype'),
      url(font-path('HelveticaNeue.woff2')) format('woff2'),
      url(font-path('HelveticaNeue.woff')) format('woff'),
      url(font-path('HelveticaNeue.ttf')) format('truetype'),
      url(font-path('HelveticaNeue.svg#HelveticaNeue')) format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: white;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

ul li {
  list-style: none;
}

header {
  width: 100%;
  height: 68px;
  background: white;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 999;
}

button,
input {
  background: transparent;
  border: none;
}

button,
a,
input {
  cursor: pointer;
}

canvas {
  z-index: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: asset_url('background.gif');
  background-repeat: repeat;
  background-position: center;
}

/* blinking text on large */
marquee {
  white-space: nowrap;
  width: 90%;
}

.logo,
.announcement {
  font-size: 24px;
  font-family: 'Chicago';
}

.hidden {
  display: none; /* can't animate with this */
  opacity: 0;
  visibility: hidden;
}

.container {
  margin-top: 69px;
}

.get-updates {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  width: 100%;
  height: 100%;
}

.header-container {
  margin: 0 auto;
  height: inherit;
  display: flex;
  align-items: center;
  width: inherit;
}
@import '_mixins.scss';
@import 'info.scss';
@import 'menu.scss';
@import 'email-signup.scss';
@import 'music.scss';
