.menu {
  z-index: 998;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.menu:not(.hidden) {
  position: fixed;
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  right: 0;
  overflow: auto;
  justify-content: space-evenly;
  align-items: center;

  ul,
  section {
    width: 70%;
    margin: 0;
  }

  ul li {
    align-self: center;
  }

  .bottom {
    height: fit-content;
  }

  .get-updates {
    color: white;
    text-transform: uppercase;
  }
}

.menu:not(.hidden):before {
  content: "";
  position: fixed;
  right: 0;
  z-index: -1;
  display: block;
  background-image: asset_url('background2.JPG');
  filter: blur(40px);
  background-size: cover;
  background-position: 40%;
  width: 40%;
  height: 100vh;
}

.music-icons,
.social-icons,
.bottom {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.site-nav:not(.hidden) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 1em;
  height: 40%;
}

.site-nav li {
  width: 100%;
  display: inline-block;
  font-family: 'SFProText Medium';

  a {
    font-size: 1.2em;
    width: 100%;
    background: #fcfcfc;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 68px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
  }
}

.logo {
  margin: auto;
}

.logo, .menu-controls > button {
  font-size: 1.5em;
  font-family: 'Cooper';
  color: white;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.menu-controls {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;

  .menu-button {
    padding: 0 15px;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .menu:not(.hidden), .menu:not(.hidden):before {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .menu:not(.hidden), .menu:not(.hidden):before {
    width: 100%;
  }
}
