.menu {
  z-index: 999;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.menu:not(.hidden) {
  position: fixed;
  height: calc(100vh - 68px);
  width: 40%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  right: 0;
  overflow: auto;
  justify-content: space-evenly;
  flex-flow: wrap;
  top: 68px;

  ul,
  section {
    width: 70%;
    margin: 0;
  }

  ul li {
    align-self: center;
  }

  .bottom {
    height: fit-content;
  }

  img {
    width: 28px;
  }

  button {
    text-transform: uppercase;
  }
}

.music-icons,
.social-icons,
.bottom {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 1em;
}

.site-nav li {
  width: 100%;
  display: inline-block;

  a {
    font-size: 1.2em;
    width: 100%;
    background: #fcfcfc;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 68px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
  }
}

.menu-controls {
  align-self: center;
  margin-left: auto;

  .menu-button {
    padding: 0 15px;
    height: 100%;
  }
  .menu-button img {
    width: 22px;
  }
}

@media screen and (max-width: 800px) {
  .menu:not(.hidden) {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .menu:not(.hidden) {
    width: 100%;
  }
}
