.menu {
  z-index: 999;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.menu:not(.hidden) {
  position: fixed;
  height: calc(100vh - 68px);
  width: 50%;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  right: 0;
  overflow: auto;
  justify-content: space-evenly;

  ul,
  section {
    width: 65%;
    padding: 0;
  }

  ul li {
    align-self: center;
  }

  .bottom {
    padding-bottom: 15px;
  }

  img {
    width: 28px;
  }

  button {
    text-transform: uppercase;
  }
}

.music-icons,
.social-icons,
.bottom {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.site-nav li {
  padding: 1.5em;

  a {
    font-size: 24px;
    width: 100%;
    background: #fcfcfc;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 68px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
  }
}

.menu-controls {
  align-self: center;
  margin-left: auto;

  .menu-button {
    padding: 0 15px;
    height: 100%;
  }
  .menu-button img {
    width: 22px;
  }
}

@media screen and (max-width: 600px) {
  .menu:not(.hidden) {
    width: 100%;

    ul,
    section {
      width: 100%;
    }
  }
}
