.container.music {
  overflow: hidden;
  width: 100%;
}

.videos {
  padding: 0;
  margin: 0;
}

.vid {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vid:nth-of-type(1) {
  background: #b858ba;
}
.vid:nth-of-type(2) {
  background: #ad4150;
}
.vid:nth-of-type(3) {
  background: #53327c;
}
.vid:nth-of-type(4) {
  background: #e09b6a;
}
.vid:nth-of-type(5) {
  background: #37338f;
}
.vid:nth-of-type(6) {
  background: #4c68da;
}
.vid:nth-of-type(7) {
  background: #9af3ff;
}
.vid:nth-of-type(8) {
  background: #4ef8ab;
}

.vid-container {
  width: 80%;
  margin: 100px auto;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  margin: 3em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  background-size: cover;

  .vid-name {
    font-family: 'Cooper';
    position: absolute;
    top: 20vh;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    color: #ffffff;
    font-size: 8vh;
    width: 100%;
    text-align: center;
    text-shadow: 4px 4px black;
  }
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #000000;

  .video-overlay-close {
    position: absolute;
    top: 16px;
    right: 16px;
    align-self: flex-end;
  }
}

.video-overlay:not(.hidden) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.youtube-embed {
  width: 90%;
  height: 90%;
  align-self: center;
}

.youtube-embed-iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .vid-container {
    .vid-name {
      top: 8vh;
    }
  }
}
