.container.music {
  overflow: hidden;
  width: 100%;
}

.albums {
  padding: 0;
  margin: 0;
}

.album {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-container {
  width: 80%;
  margin: 100px auto;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  margin: 3em;
  position: relative;
  display: inline-block;

  .album-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
  }

  .album-name {
    font-family: 'Cooper';
    position: absolute;
    top: 18vh;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 6vw;
    width: 100%;
    text-align: center;
    text-shadow: 4px 4px black;
  }
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #dea92c;

  .video-overlay-close {
    position: absolute;
    top: 16px;
    right: 16px;
    align-self: flex-end;
  }
}

.video-overlay:not(.hidden) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.youtube-embed {
  width: 90%;
  height: 90%;
  align-self: center;
}

.youtube-embed-iframe {
  width: 100%;
  height: 100%;
}
