@font-face {
  font-family: 'Chicago';
  src: url(/assets/pixChicago-5f66f58bfa1641321381d6ad580b01bd060f0f6f389d6ccf33d67837e7995568.eot);
  src: url(/assets/pixChicago-5f66f58bfa1641321381d6ad580b01bd060f0f6f389d6ccf33d67837e7995568.eot#iefix) format("embedded-opentype"), url(/assets/pixChicago-3e0f07157d8a080206663580e1b9657f4ca7b5aa7a156ba9b96d6356be74a5dc.woff2) format("woff2"), url(/assets/pixChicago-46478322398af80911b45a472164f04ac754a99048055b45ac4535889e5bfd41.woff) format("woff"), url(/assets/pixChicago-0eab28f3fab405527a3eaa38e63f78793f995c61bc83fa19e1c164132a60b977.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

a {
  color: black;
  text-decoration: none; }

ul li {
  list-style: none; }

/* blinking text on large */
marquee {
  position: fixed;
  white-space: nowrap;
  width: 65%; }

header {
  display: inline-flex;
  width: 100%;
  align-items: flex-start;
  height: 68px;
  justify-content: center;
  align-items: center; }

button {
  background: transparent;
  border: none; }

button,
a {
  cursor: pointer; }

canvas {
  z-index: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; }

.logo,
.announcement {
  font-size: 24px;
  font-family: 'Chicago'; }

.page-content {
  margin: 0 auto;
  width: 80%; }

.social-media-list {
  z-index: 1;
  position: fixed;
  bottom: 1px;
  left: 0;
  height: 48px;
  font-family: 'Chicago';
  font-size: 8px;
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(5, 1fr); }

.hidden {
  display: none;
  /* can't animate with this */
  opacity: 0;
  visibility: hidden; }

header .menu-controls {
  align-self: center;
  margin-left: auto; }

.menu {
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out; }

.menu:not(.hidden) {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1; }
  .menu:not(.hidden) div {
    display: inline-flex;
    flex-direction: row; }
  .menu:not(.hidden) ul {
    padding: 0;
    width: 100%; }
  .menu:not(.hidden) img {
    width: 28px; }
  .menu:not(.hidden) button {
    text-transform: uppercase; }

.music-icons,
.social-icons {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly; }

.site-nav li {
  padding: 1.5em; }
  .site-nav li a {
    font-size: 24px;
    width: 100%;
    background: #c4c4c4;
    line-height: 68px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui; }

.get-updates {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  width: 100%; }
